* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    text-align: center;
    background: #87f602; /* Fondo original verde */
    position: relative; /* Para posicionar el fondo desenfocado */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/4.webp'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    filter: blur(5px); /* Desenfoque más suave */
    z-index: -1; 
}

a {
    text-decoration: none;
}

.contenedor-principal {
    max-width: 1300px;
    margin: 80px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor_tarjeta {
    margin: 25px;
}

.contenedor_tarjeta a {
    display: inline-block;
}

.contenedor_tarjeta:hover figure {
    transform: perspective(600px) rotateY(180deg);
}

.contenedor_tarjeta:hover figure img {
    filter: blur(2.5px);
}

figure {
    width: 300px;
    height: 350px;
    margin: 0;
    position: relative;
    transition: all ease 0.8s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

figure .frontal {
    display: block;
    background: #000000;
}

figure .trasera {
    position: absolute;
    top: 0px;
    padding: 20px;
    color: #FAF7F0;
    transform: perspective(600px) rotate
