* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    height: 100vh;
    font-family: 'Georgia', serif; /* Fuente más formal */
    font-size: 18px;
    background-color: #F4F4F9;
    color: #333333; /* Texto en un gris oscuro */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/4.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px) brightness(0.7); /* Reducimos el desenfoque y ajustamos el brillo */
    z-index: -1;
}

a {
    text-decoration: none;
    color: inherit; /* Los enlaces mantendrán el color del texto */
}

.contenedor-principal {
    max-width: 1300px;
    margin: 80px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor_tarjeta {
    margin: 25px;
}

.contenedor_tarjeta:hover figure {
    transform: perspective(600px) rotateY(180deg);
}

figure {
    width: 300px;
    height: 350px;
    margin: 0;
    position: relative;
    transition: all ease 0.8s;
    transform-style: preserve-3d;
}

figure .frontal,
figure .trasera {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

figure .frontal {
    display: block;
    background: #fafafa;
}

figure .trasera {
    position: absolute;
    top: 0px;
    padding: 20px;
    color: #FAF7F0;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    box-shadow: 1px 0px 45px 15px rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro para mejor legibilidad */
}

figure .trasera p {
    font-size: 20px;
    color: #FFD700; /* Color dorado para un toque elegante */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

figure .trasera h1 {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    text-shadow: 3px 3px 5px black;
    position: relative;
    color: #FFD700; /* Color dorado */
    text-align: center;
}

h2::after,
h2::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 4px;
    background-color: currentColor;
    top: 1em;
    transform: scale(1.0);
    transition: all 0.6s ease-in;
}

h2::after {
    left: 50px;
}

h2::before {
    right: 50px;
}
